@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <section >
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <h4>Identifiez-vous</h4>
            <hr />
            <div asp-validation-summary="All" ></div>
            <div >
                <label asp-for="UserName"></label>
                <input asp-for="UserName" />
                <span asp-validation-for="UserName" ></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password"  />
                <span asp-validation-for="Password" ></span>
            </div>
            <div >
                <button type="submit" >Identifiez-vous</button>
            </div>
        </form>
    </section>
</div>