


<a class="btn btn-block btn-secondary"
   asp-action="Index"
   asp-controller="Home"
   asp-route-category="">
    Home
</a>

<a class="btn btn-block btn-secondary"
   asp-action="List"
   asp-controller="Contact"
   asp-route-category="">
    Contact
</a>

<a class="btn btn-block btn-secondary"
   asp-action="List"
   asp-controller="Account"
   asp-route-category="">
    Accounts
</a>

<a class="btn btn-block btn-secondary"
   asp-action="Index"
   asp-controller="Logout"
   asp-route-category="">
    Logout
</a>